<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:component-scan base-package="winter"/>

    <mvc:annotation-driven/>


    <!--database-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>WEB-INF/database.properties</value>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>winter.model.User</value>
                <value>winter.model.Achievement</value>
                <value>winter.model.Badge</value>
                <value>winter.model.Comment</value>
                <value>winter.model.Exercise</value>
                <value>winter.model.Friend</value>
                <value>winter.model.Likes</value>
                <value>winter.model.Post</value>
                <value>winter.model.Question</value>
                <value>winter.model.Result</value>
                <value>winter.model.Subject</value>
                <value>winter.model.Subscription</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--database-->


    <!--dao-->
    <bean id="restfulDAO" class="winter.dao.RestfulDAO"/>
    <bean id="loginDAO" class="winter.dao.LoginDAO"/>
    <!--dao-->

    <!--service-->
    <bean id="restfulService" class="winter.service.RestfulService"/>
    <bean id="loginService" class="winter.service.LoginService"/>
    <!--service-->

</beans>